.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    width: 400px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}

.form button {
    padding: 10px;
    border: none;
    margin: 10px 0;
    width: 200px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(255, 180, 42);
}