body {
	margin: 20px auto;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

button {
    padding: 10px;
    border: none;
    margin: 10px 0;
    width: 200px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 5px;
    background-color: rgb(255, 180, 42);
}